.employees {
  display: flex;
  flex-direction: column;
}

.employee {
  margin: 1rem;
  border: dotted 0.1rem fuchsia;
  padding: 0.5rem;
}

.employee__header {
  font-size: large;
}

.employee__footer {
  font-size: smaller;
  font-style: italic;
}

.line__item {
  margin: 0.3rem 0;
}
